body {
  margin: 0;
  font-family: GeneralSans;
  overflow-x: hidden;
}

@font-face {
  font-family: GeneralSans;
  src: url('./assets/fonts/GeneralSans-Regular.otf');
}

code {
  font-family: GeneralSans, 'Courier New', Courier, monospace;
}
